/* Practice Layout */

body, html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background: #fffeff;
  color: #787878;
  font-family: sans-serif;
}

.tabs-area {
  margin: 0 30px;
}

.tabs > li > input[type=radio] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  float: none;
  list-style: none;
  position: relative;
  padding: 0;
  max-width: 700px;
  background: #efefef;
  box-shadow: 0 48px 80px -32px rgba(0, 0, 0, 0.3);
}

.tabs li label {
  margin-right: -5px;
}

.tabs > li {
  display: inline-block;
}

.tabs > li > label {
  display: block;
  padding: 18px 30px;
  border-radius: 2px 2px 0 0;
  font-size: 18px;
  font-weight: bold;
  background: #e5e5e5;
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs > li > label:hover {
  background: rgba(255, 255, 255, 0.5);
}

[id^=tab]:checked + label {
  background: #FFF;
  color: #000;
  top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
  display: block;
}

.tab-content {
  z-index: 2;
  display: none;
  text-align: left;
  width: 100%;
  font-size: 20px;
  line-height: 140%;
  background: #FFF;
  padding: 32px;
  top: 53px;
  left: 0;
  box-sizing: border-box;
  -webkit-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.tab-content h2 {
  font-weight: bold;
}

.tab-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

/*Buttons*/

.buttons {
  display: inline-block;
  width: 200px;
  height: 210px;
  margin: 10px;
  padding: 30px;
  text-align: left;
  vertical-align: top;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  font-size: 19px;
}

.buttons .element {
  margin-bottom: 6px;
}

.buttons label {
  margin-left: 32px;
  position: relative;
}

.buttons input[type="checkbox"], .buttons input[type="radio"] {
  display: none;
}

.buttons input[type="checkbox"] + label:before,
.buttons input[type="radio"] + label:before {
  width: 20px;
  height: 20px;
  background: #f7f7f7;
}

.buttons input[type="checkbox"]:checked + label:before,
.buttons input[type="radio"]:checked + label:before{
  background: #37b2b2;
}

.buttons label:before, .buttons label:after {
  content: '';
  position: absolute;
  top: 7%;
  left: -33px;
}

.buttons input[type="checkbox"] + label:after {
  display:none;
  top: 5px;
  left: -25px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

.buttons input[type="checkbox"]:checked + label:after {
  border-radius: 0;
  opacity: 1;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display:block;
}

.buttons input[disabled="disabled"][type="checkbox"]:checked + label:before {
  background: #f7f7f7;
}

.buttons input[disabled="disabled"][type="checkbox"]:checked + label:after {
  background: #f7f7f7;
  border-color: #7b7b7b;
}

.buttons input[type="radio"] + label:before {
  border-radius: 50%;
}

.buttons input[type="radio"] + label:after {
  display:none;
  top: 9px;
  left: -26px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.buttons input[type="radio"]:checked + label:after {
  display:block;
}

.buttons input[disabled="disabled"][type="radio"]:checked + label:before {
  background: #f7f7f7;
}

.buttons input[disabled="disabled"][type="radio"]:checked + label:after {
  background: #7b7b7b;
}
.cards {
  width: 500px;
  box-shadow: none;
}

.cards .element{
  clear: both;
  overflow: hidden;
  position: relative;
}

.cards .element:hover {
  background: #EEE;
  cursor: pointer;
}

.cards li{
  padding: 10px;
}

.cards img{
  height: 80px;
  float: left;
  margin: 0px 10px 13px 10px;
}
.cards h3{
  font-weight: bold;
}


.cards label {
  float: right;
  top:-42px;
}

.cards input[type="checkbox"] {
  display: block;
  float: right;
  position: absolute;
  top: 9px;
  right: 13px;
  z-index: 2;
  opacity: 0;
}

