/* Practice Layout */

body, html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background: #fffeff;
  color: #787878;
  font-family: sans-serif;
}


.tabs-area {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  box-shadow: 0 48px 80px -32px rgba(0, 0, 0, 0.3);
  max-width: 700px;
  background: #efefef;
  margin: 0 30px;
}

.tabs-area > label {
  display: block;
  padding: 28px 35px;
  border-radius: 2px 2px 0 0;
  font-size: 18px;
  font-weight: bold;
  background: #e5e5e5;
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs-area > label:first-of-type {
  margin-left: 0;
}

.tabs-area > label:hover {
  background: rgba(255, 255, 255, 0.5);
}

.tabs-area > div.content {
  width: 100%;
  margin-top: -1px;
  padding: 1em;
  -webkit-order: 1;
  order: 1;
  background: #FFF;
  padding: 30px;
}

.tabs-area > input[type=radio], .tabs-area div.content {
  display: none;
}

.tabs-area > input[type=radio]:checked + label {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.tabs-area > input[type=radio]:checked + label + div {
  display: block;
}

.content h2 {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 21px;
}

.content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/*Buttons*/

.buttons {
  display: inline-block;
  width: 200px;
  height: auto;
  margin: 10px;
  padding: 30px;
  text-align: left;
  vertical-align: top;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  font-size: 19px;
}

.buttons .element {
  margin-bottom: 15px;
}

.buttons label {
  margin-left: 32px;
  position: relative;
}

.buttons input[type="checkbox"], .buttons input[type="radio"] {
  display: none;
}

.buttons input[type="checkbox"] + label:before,
.buttons input[type="radio"] + label:before {
  width: 20px;
  height: 20px;
  background: #f7f7f7;
}

.buttons input[type="checkbox"]:checked + label:before,
.buttons input[type="radio"]:checked + label:before{
  background: #37b2b2;
}

.buttons label:before, .buttons label:after {
  content: '';
  position: absolute;
  top: 7%;
  left: -33px;
}

.buttons input[type="checkbox"] + label:after {
  display:none;
  top: 5px;
  left: -25px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

.buttons input[type="checkbox"]:checked + label:after {
  border-radius: 0;
  opacity: 1;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display:block;
}

.buttons input[disabled="disabled"][type="checkbox"]:checked + label:before {
  background: #f7f7f7;
}

.buttons input[disabled="disabled"][type="checkbox"]:checked + label:after {
  background: #f7f7f7;
  border-color: #7b7b7b;
}

.buttons input[type="radio"] + label:before {
  border-radius: 50%;
}

.buttons input[type="radio"] + label:after {
  display:none;
  top: 9px;
  left: -26px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.buttons input[type="radio"]:checked + label:after {
  display:block;
}

.buttons input[disabled="disabled"][type="radio"]:checked + label:before {
  background: #f7f7f7;
}

.buttons input[disabled="disabled"][type="radio"]:checked + label:after {
  background: #7b7b7b;
}

.cards {
  width: 500px;
  box-shadow: none;
}

.cards .element{
  clear: both;
  overflow: hidden;
  position: relative;
}

.cards .element:hover {
  background: #EEE;
  cursor: pointer;
}

.cards li{
  padding: 10px;
}

.cards img{
  height: 80px;
  float: left;
  margin: 0px 10px 13px 10px;
}
.cards h3{
  font-weight: bold;
}


.cards label {
  float: right;
  top:-42px;
}

.cards input[type="checkbox"] {
  display: block;
  float: right;
  position: absolute;
  top: 9px;
  right: 13px;
  z-index: 2;
  opacity: 0;
}

.cards img{
  height: 80px;
  float: left;
  margin: 0px 10px 13px 10px;
}
.cards h3{
  font-weight: bold;
}


.cards label {
  float: right;
  top:-42px;
}

.cards input[type="checkbox"] {
  display: block;
  float: right;
  position: absolute;
  top: 9px;
  right: 13px;
  z-index: 2;
  opacity: 0;
}

@media (min-width: 375px) and (max-width: 630px){
  .tabs-area {
    flex-direction: column;
  }

  .tabs-area > div.content, .cards {
    width: auto;
  }

  .buttons {
    width: auto;
  }

  .cards label {
    position: absolute;
    top: 9px;
    right: 13px;
  }
  #tab-one-label{order:1;}
  #tab-two-label{order: 3;}
  #tab-three-label{order: 5;}
  #content_one{order: 2;}
  #content_two{order: 4;}
  #content_three{order: 6;}

}