/* Practice Layout */
* {
	box-sizing: border-box;
}

body {
	color: #69686a;
}

.trash{
	color: black;
}

.no-bullet-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.page-content-wrapper {
	background-color: #e8e8e8;
	max-width: 1200px;
	margin: 0 auto;
}

.page-content .header .heading {
	margin: 0;
	padding: 15px;
}

.page-content .navbar {
	background-color: #dcdcdc;
}

.nav-menu li {
	float: left;
}

.nav-menu li a {
	text-decoration: none;
	display: block;
	padding: 7.5px 15px;
}

.sidebar {
	float: left;
	width: 350px;
	padding: 15px;
}

.sidebar .form-control {
	display: block;
	width: 100%;
	height: 20px;
	border-radius: 4px;
	border: 1px solid lightgray;
	margin-bottom: 15px;
}

.main-content {
	float: left;
	padding: 15px;
	width: calc(100% - 350px);
	background-color: #c8c8c8;
}

.main-content .sub-heading {
	margin: 0;
	margin-bottom: 15px;
}

.main-content .content-img {
	float: right;
	margin: 5px;
}

.main-content p::first-letter {
	float: left;
	font-size: 60px;
	margin: 20px;
}

.img-gallery-wrapper {
	background-color: whitesmoke;
	padding: 15px;
	float: left;
}

.img-gallery-list li {
	float: left;
	margin: 7.5px;
}

.footer {
	padding: 15px;
	float: left;
	width: 100%;
}

.footer .comment-list li {
	padding: 15px;
}

.footer .comment-list li p {
	float: left;
	margin-left: 5px;
}

.footer .comment-list li p::first-letter {
	font-size: 30px;
}

.footer .comment-list .thumbnail {
	float: left;
	width: 60px;
}

.footer .comment-box {
	padding: 15px;
	width: 100%;
	border: 1px solid green;
}

.footer .comment-box .button-thumbnail {
	float: right;
	height: 150px;
	width: 80px;
}

@media (max-width: 800px) {
	.sidebar, .main-content {
		width: 100%;
	}

	.main-content .content-img {
		max-width: 100%;
	}
}