/* Practice Layout */
article {
  background-color: lightpink;
  padding: 10px;
  width: 70%;
}
aside {
  padding: 20px;
  width: 30%;
}

ul {
  padding: 0 10px;
}

.horizontal-menu {
  background-color: orangered;
  color: white;
  padding: 5px;
}

.horizontal-menu li {
  display: inline;
  padding-right: 20px;
}

p {
  margin: 2px;
}

section {
  display: flex;
}

.main-text {
  padding: 10px;
}

.page-content {
  background-color: lightskyblue;
  margin: 0 auto;
  padding: 0px;
  width: 80%;
}

.square {
  background-color: lightskyblue;
  border: solid orangered thin;
  height: 180px;
  width: 180px;

}

.squares {
  display: flex;
}

.squares div:nth-child(odd) {
  height: 360px;
}

.trash{
	color: black;
}
