/* Practice Layout
 * mobile and tablet breakpoint: 800px
 */
body,
html {
	margin: 0;
	padding: 0;
	color: #787878;
  font-size: 16px;
  line-height: 1.5;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** wrap  **/
.f-wrap {
  background-color: #E8E8E8;
	margin: 0 auto;
	max-width: 1200px;
}

/** header  **/
.f-header {
	background-color: #E8E8E8;
  box-sizing: border-box;
	height: 62px;
  padding: 0 15px;
}

.f-header h1 {
	color: #787878;
	font-size: 1.5em;
	line-height: 62px;
	margin: 0;
  width: 100%;
}

/** nav  **/
.f-nav {
  background-color: #DCDCDC;
	height: 15px;
	padding: 15px;
}

.f-nav ul {
  list-style:none;
	margin:0;
	padding:0;
}

.f-nav li {
	float: left;
	line-height: 15px;
}

.f-nav li:not(:last-child) {
	margin-right: 10px;
  padding-right: 10px;
}

.f-nav a {
	text-decoration: none;
}

/** article  **/
.f-article {
  background-color: #C8C8C8;
  box-sizing: border-box;
	clear: both;
	float:left;
	padding: 15px;
	width: calc(100% - 350px);
}

.f-article h2 {
	font-size: 1.5em;
	margin: 0;
  padding-bottom: 15px;
}

.f-article img {
	float: left;
	margin-right: 15px;
}

@media (max-width: 800px) {
	.f-article {
		width: 100%;
	}

  .f-article img {
    clear: both;
    width: 100%;
  }
}

/** sidebar  **/
.f-sidebar {
  background-color: #E8E8E8;
  box-sizing: border-box;
	float: right;
  padding: 15px;
	width: 350px;
}

.f-search input{
  border: none;
  border-radius: 4px;
	display: block;
  height: 25px;
  margin-bottom: 20px;
	width: 100%;
}

@media (max-width: 800px) {
	.f-sidebar {
    clear: both;
    float: left;
		width: 100%;
	}
}

/** gallery  **/
.f-gallery {
  background-color: #F5F5F5;
	clear: both;
	overflow: auto;
	padding: 15px;
}

.f-gallery h2 {
	font-size: 1.5em;
	margin: 0;
}

.f-gallery ul {
  list-style:none;
	margin:0;
	padding:0;
}

.f-gallery li {
  float: left;
	margin:0;
	padding: 10px;
}




