/* Practice Layout */

.trash{
	color: black;
}

body {
	background-color: #D5EADE;
	font-weight: lighter;
	font-family: sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
}

article, nav, section {
	display: block;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: normal;
    padding-bottom: 50px;
}

h3 {
	font-size: 2.5em;
	padding-bottom: 20px;
}

p::first-letter {
	font-weight: bold;
}

.main-container {
	background-color: #76C4D1;
	color: #FFFFFF;
	margin: 60px;
    padding: 5% 37% 5% 6%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.main-container article p {
	letter-spacing: inherit;
	line-height: 1.5em;
	text-transform: uppercase;
}

.main-container hr {
	border-color: #E72840;
	margin-bottom: 40px;
	margin-top: 40px;
}

.yellow-container {
	padding: 6% 5%;
    background-color: #DFE180;
    box-sizing: border-box;
    color: #8C8D57;
    position: absolute;
    right: 80px;
    top: 160px;
    width: 30%;
    z-index: 3;
}

.yellow-container li {
	margin-bottom: 10px;
}

.yellow-container li:nth-child(2n+3) {
	font-weight: 400;
}

.white-container {
	background-color: rgba(255,255,255, 0.8);
    box-sizing: border-box;
    color: #000000;
    margin-left: -20%;
    margin-top: 40px;
	padding: 7% 5% 7% 20%;
    width: 110%;
    z-index: 4;
}

.white-container p {
	font-size: 1em;
	margin-bottom: 20px;
}

.black-container {
	width: 30%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    right: 0;
    z-index: 2;
}

@media (max-width: 640px) {
	.main-container {
		padding-right: 6%;
		margin-bottom: 30px;
	}

	.black-container {
		display: none;
	}

	.yellow-container {
		position: relative;
		right: auto;
		top: auto;
		width: 100%;
	}

	.yellow-container h3 {
		margin-bottom: 30px;
	}

	.yellow-container li {
		margin-bottom: 30px;
	}
}