/* Practice Layout */
.page-content {
  color: #787878;
}

.page-content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

h1 {
  margin: 25px 0 30px 0;
  font-size: 25px;
}

.layout1 main p,
.layout2 .wrapper main p,
.layout1 aside ul li,
h1 {
  color: #000;
}

.layout1,
.layout2 {
  background: #ffd0c4;
}

.layout1 header,
.layout1 footer {
  clear: left;
  background: #9c9965;
  overflow: hidden;
  zoom: 1;
}

.layout1 header ul,
.layout1 footer ul,
.layout2 header ul,
.layout2 footer ul{
  margin-left: 15px;
}

.layout1 header ul li,
.layout1 footer ul li,
.layout2 header ul li,
.layout2 footer ul li {
  color: #fff;
  display: inline-block;
  padding: 14px;
}

.layout1 footer,
.layout1 header,
.layout2 header,
.layout2 footer {
  background: #D24F2E;
}

.layout1 aside {
  float: left;
  margin-right: -200px;
  position: relative;
  width: 200px;
}

.layout1 aside,
.layout2 .wrapper aside {
  background: #8cd0d2;
}

.layout1 aside ul li {
  padding: 15px;
}

.layout1 main {
  border-left: 200px solid #8cd0d2;
  float: left;
}

.layout1 main,
.layout2 .wrapper main {
  padding: 20px;
}

.layout1 main p,
.layout2 .wrapper main p {
  line-height: 24px;
}

.layout1 footer {
  clear: left;
}

.layout2 {
  display: flex;
  flex-direction: column;
}

.layout2 .wrapper {
  display: flex;
  flex-direction: row;
}

.layout2 .wrapper aside {
  padding-right: 26px;
}

.layout2 .wrapper main {
  padding: 20px;
}