/* Practice Layout */

.page-content {
  color: #787878;
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

section {
  background-color: #F5F5F5;
  padding: 20px;
  margin-bottom: 30px;
}

section h1 {
  font-size: 1.5em;
  line-height: 60px;
  margin-bottom: 28px;
}

article p {
  line-height: 25px;
}

.container1, .container2 {
  border: 5px solid #D24F2E;
  height: 80px;
  margin: 15px;
  padding: 15px;
  width: 1000px;
}

.container1 {
  box-sizing: content-box;
}

.container2 {
  box-sizing: border-box;
}