/* Practice Layout */
body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/** container  **/
.d-container {
  background-color: #E8E8E8;
  margin: 0 auto;
  max-width: 1200px;
}

/** header  **/
.d-header {
	background-color: #E8E8E8;
	padding: 15px;
}

.d-header h1 {
	color: #787878;
  display: inline;
	font-size: 35px;
  line-height: 30px;
	margin: 0;
}

.d-header span{
	float: right;
}

/** nav  **/
.d-nav {
  background-color: #DCDCDC;
	padding: 15px;
}

.d-nav ul {
  list-style:none;
	margin: 0;
	padding: 0;
}

.d-nav li {
	line-height: 15px;
	display: inline;
}

.d-nav li:not(:last-child) {
  margin-right: 10px;
	padding-right: 10px;
}

.d-nav a {
	text-decoration: none;
}

/* section */
.d-sections{
  display: table;
}

.d-sections article{
	display: table-cell;
  padding: 15px;
	vertical-align: middle;
  width: 50%;
}

/* table */
.d-table{
  background-color: #C8C8C8;
  border-collapse:collapse;
  display: table;
	margin: 15px 0;
  width:100%;
}

.d-table-row{
  display: table-row;
  text-align: center;
}

.d-table-cell, .d-table-head{
  border:#f0f0f0 1px solid;
  display: table-cell;
  padding:1em;
}

.d-table-head{
  font-weight:bold;
}

/* boxes*/
.d-box{
	margin: 15px 0;
}

.d-box div {
  border: 3px solid #73AD21;
  box-sizing: border-box;
  display: inline-block;
  height: 75px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 150px;
}
