/* General styles */
* {
	box-sizing: border-box;
}

html,
body {
	color: #787878;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: normal;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
}

a {
  text-decoration: none;
}

.tabs {
	background-color: #EFEFEF;
	box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
	display: flex;
	margin: 0 30px;
	max-width: 700px;
	flex-wrap: wrap;
}

.tabs > input[type="radio"] {
  position: absolute;
	z-index: -1;
}

.tabs > label {
	background: #E5E5E5;
	display: block;
	color: #7F7F7F;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	padding: 20px 30px;
	position: relative;
	width: 100%;
}

.tabs > label:hover {
  background-color: #d8d8d8;
}

.content {
	background-color: #fff;
	display: none;
	padding: 20px 30px;
	width: 100%;
}

.content h2 {
  margin-bottom: 5px;
}

.tabs > input:checked + label {
	background: #fff;
	color: #000;
	top: 0;
}

.tabs > input:checked + label + .content {
	display: block;
}

.content .box {
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 20px;
}

.content input[type="checkbox"],
.content input[type="radio"] {
	display: none;
}

.content input + label {
	display: inline-block;
	margin-bottom: 14px;
	position: relative;
}

.content input + label span {
	background-color: #e6e6e6;
	display: inline-block;
	height: 20px;
	margin-right: 10px;
	width: 20px;
	position: relative;
	top: 4px;
}

.content input:hover + label {
	cursor: pointer;
}

.content input + label:hover span{
	background-color: #CCCCCC;
}

.content input:checked + label span:before {
	color: #fff;
	content: '';
	border-right: 2px solid;
	border-bottom: 2px solid;
	display: block;
	height: 10px;
	left: 7px;
	transform: rotate(45deg);
	position: absolute;
	top: 3px;
	width: 4px;
}

.content input:checked + label span {
	background-color: #12A2BD;
}

.content input:checked + label:hover span {
	background-color: #00647A;
}

.content input:disabled + label span,
.content input:disabled:checked + label span {
	background-color: #F0F0F0;
}

.content input:disabled:checked + label span:before {
	color: #B0B0B0;
}

.box input[type="radio"] + label span {
  border-radius: 50%;
}

.box input[type="radio"]:checked + label span:before {
	border: none;
	background-color: #fff;
	transform: none;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	top:7px;
	left: 7px;
}

.cards img {
  width: 100px;
	height: 100px;
	margin-right: 15px;
}

.cards {
	margin: 30px 0 0 30px;
}

.cards li {
	display: flex;
	flex-wrap: wrap;
	height: 120px;
	max-width: 500px;
	padding: 10px;
}

.cards li:hover{
	background-color: #EEEEEE;
	cursor: pointer;
}

.cards h2 {
	margin: 0;
}

.cards p {
	font-size: 0.7em;
}

.cards li > div {
  margin-right: 180px;
}

@media (min-width: 600px) {
	.tabs > label {
		order: 1;
		width: auto;
	}

	.content{
		order:2;
	}
}

@media (max-width: 690px) {

	.cards li {
    max-width: 365px;
	}

	.cards li > div {
		margin-right: 50px;
	}

}

@media (max-width: 560px) {
	.cards img {
		display: none;
	}

	.cards li {
		max-width: 250px;
	}
}

@media (max-width: 440px) {
	.cards li {
		max-width: 160px;
	}
}