$black: #000000;
$blue: #448aff;
$gray: #787878;
$lightgray: #e0e0e0;
$magenta: #e91e63;
$orange: #ff6600;
$purple: #6600cc;
$smoke: #fafafa;
$white: #ffffff;

$top-header-size: 56px;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
