/* Practice: Transform, Transition and Animations */
body,
html {
  color: #787878;
  font-size: 11pt;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: 'Avenir', sans-serif;

  * {
    box-sizing: border-box;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.trash {
  color: black;
}

.container {
  margin: 0 30px;
  font-family: 'Avenir', sans-serif;
}

/** wrap  **/
.wrap {
  margin: 0 auto;
  max-width: 1200px;
}

/* header */
.title {
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  text-align: center;
  margin: 0 0 30px 0;
}

/** article  **/
.article {
  background-color: #c8c8c8;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}

.article img {
  margin: 0 10px 0 0;
  width: 300px;
}

// .article ul {
//   list-style: none;
//   margin: 20px 50px 0 50px;
//   height: 550px;
// }

.article li {
  display: inline-block;
  -webkit-perspective: 500px;
}

.article li img {
  border: 10px solid #fcfafa;
  box-shadow: 0 3px 10px #888;
}

.animal-info {
  border: 10px solid #fcfafa;
  padding: 20px;
  width: 200px;
  height: 120px;
  background-color: #deddcd;
  margin: -195px 0 0 55px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 20px 40px #888;
}

.animal-info h3 {
  color: #7a3f3a;
  font-variant: small-caps;
  font-family: Georgia, serif, Times;
  text-align: center;
  padding-bottom: 15px;
}

.animal-info p {
  padding-bottom: 15px;
}

.animal-info a {
  background-color: #7a3f3a;
  padding: 5px 10px;
  color: #eee;
  text-decoration: none;
  display: block;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
}

.animal-info a:hover,
.animal-info a:focus {
  background-color: #6a191f;
  color: #fff;
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
  .wrap .article li:not(:first-child) {
    display: none;
  }
}

@media (max-width: 426px) {
  .article ul {
    height: 400px;
  }

  .article img {
    float: left;
    margin: 0 10px 0 0;
    width: 275px;
  }

  .article li:hover .animal-info {
    margin-left: 18px;
  }
}

/* notes */
.notes {
  width: calc(100% - 350px);
  height: 100%;
  overflow: auto;
}

.notes h2,
.notes p {
  font-size: 20px;
  font-weight: normal;
}

.notes ul {
  overflow: hidden;
}

.notes ul li {
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.notes ul li div {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 150px;
  width: 150px;
  padding: 15px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}

.notes ul li h2 {
  font-size: 140%;
  font-weight: bold;
  padding-bottom: 10px;
}

.notes ul li p {
  font-size: 25px;
}

.notes ul li:nth-child(even) div {
  position: relative;
  top: 5px;
  background: #cfc;
}

/** sidebar  **/
.sidebar {
  float: right;
  width: 350px;
  height: 730px;
  padding: 15px;
  background-color: #e8e8e8;
  box-sizing: border-box;
  text-align: center;
}

.sidebar button {
  box-shadow: 0px 10px 14px -7px #275873;
  background: linear-gradient(to bottom, #55c4e6 5%, #0babe0 100%);
  background-color: #55c4e6;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-shadow: 2px 1px 0px #275873;
  margin: 10px;
}

@media (max-width: 1024px) {
  .sidebar {
    height: 500px;
  }
}

@media (max-width: 426px) {
  .sidebar {
    width: 100%;
    height: 100%;
  }
}
