/* Practice: Transform, Transition and Animations */
body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h2, h3 {
  margin: 0;
}

.trash {
  color: black;
}

.container {
  margin: 0 30px;
  font-family: sans-serif;
}

/** wrap  **/
.wrap {
  margin: 0 auto;
  max-width: 1200px;
}

/* header */
.title {
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  text-align: center;
  margin: 0 0 30px 0;
}

h1 {
  animation-name: animate-title;
  animation-duration: 1.5s; 
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animate-title {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    
  }
}

/** article  **/
.article {
  clear: both;
  float: left;
  background-color: #C8C8C8;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}

.article img {
  float: left;
  margin: 0 10px 0 0;
  width: 300px;
}

.article ul {
  list-style: none;
  margin: 20px 50px 0 0;
  height: 550px;
}

.article li {
  display: inline;
  float: left;
  -webkit-perspective: 500;
}

.article li img {
  border: 10px solid #fcfafa;
  -moz-box-shadow: 0 3px 10px #888;
  -webkit-box-shadow: 0 3px 10px #888;
}

img{
  transform: rotateY(30deg);
  transition: transform .5s;
}

.animal-info{
  transform: rotateY(30deg) translateZ(50px);
  transition: transform .5s;
}

.article li:hover > img, .article li:hover > .animal-info{
  transform: rotateY(0deg);
  transition: transform .9s;
}

.animal-info {
  border: 10px solid #fcfafa;
  padding: 20px;
  width: 205px;
  height: 120px;
  background-color: #deddcd;
  margin: 0 27px;
  position: absolute;
  text-align: center;
  bottom: 0;
  -moz-box-shadow: 0 20px 40px #888;
  -webkit-box-shadow: 0 20px 40px #888;
}

.article li:hover .animal-info {
  -webkit-box-shadow: 0 5px 10px #888;
}

.animal-info h3 {
  color: #7a3f3a;
  font-variant: small-caps;
  font-family: Georgia, serif, Times;
  text-align: center;
  font-size: 20px;
}

.animal-info a {
  background-color: #7a3f3a;
  padding: 5px 10px;
  color: #eee;
  text-decoration: none;
  display: block;
  width: 80px;
  text-align: center;
  margin: 0 auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.animal-info a:hover, .animal-info a:focus {
  background-color: #6a191f;
  color: #fff;
}

@media (max-width: 1200px) {
  .wrap .article li:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrap .article li:not(:first-child) {
    display: none;
  }
}

@media (max-width: 479px) {
  .article ul {
    padding: 0;
  }
}

@media (max-width: 426px) {
  .article ul {
    list-style: none;
    margin: 0;
    height: 400px;
  }

  .article img {
    float: left;
    margin: 0 10px 0 0;
    width: 275px;
  }

  .article li:hover .animal-info {
    margin-left: 16px;
  }
}

/* notes */
.notes {
  width: calc(100% - 350px);
  height: 100%;
  overflow: auto;
}

.notes h2, .notes p {
  font-size: 20px;
  font-weight: normal;
}

.notes ul, li {
  list-style: none;
}

.notes ul {
  overflow: hidden;
  padding: 3em;
}

.notes ul li div {
  position: relative;
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 150px;
  width: 150px;
  padding: 15px;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  transform: rotate(-6deg);
  transition: transform .2s;
}

.notes ul li:nth-child(even) div {
  position: relative;
  top: 5px;
  background: #cfc;
  transform: rotate(4deg);
  transition: transform .2s;
}

.notes ul li:hover div {
  z-index: 1;
  transform: rotate(0deg);
  transform: scale(1.25); 
  -moz-box-shadow: 8px 5px 10px rgb(33, 33, 33);
  -webkit-box-shadow: 6px 5px 15px rgb(33, 33, 33);
}

.notes ul li {
  margin: 1em;
  float: left;
}

.notes ul li h2 {
  font-size: 140%;
  font-weight: bold;
  padding-bottom: 10px;
}

.notes ul li p {
  font-size: 25px;
  line-height: 30px;
}


/** sidebar  **/
.sidebar {
  float: right;
  width: 350px;
  height: 730px;
  padding: 15px;
  background-color: #E8E8E8;
  box-sizing: border-box;
  text-align: center;
}

.sidebar button {
  box-shadow: 0px 10px 14px -7px #275873;
  background: linear-gradient(to bottom, #55c4e6 5%, #0babe0 100%);
  background-color: #55c4e6;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-shadow: 2px 1px 0px #275873;
  margin: 10px;
}

.sidebar button:hover {
  animation-fill-mode: forwards;
  animation-name: animate-butto;
  animation-duration: 2s; 
}

.sidebar ul {
  padding: 0;
}

@keyframes animate-butto {
  50% {
    transform: scale(1.05,0.9);  
  }
}

@media (max-width: 1210px) {
  .article li:last-child  {
    display: none;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    height: 500px;
  }
}

@media (max-width: 879px) {
  .article li:nth-child(2)  {
    display: none;
  }
}

@media (max-width: 811px) {
  .sidebar {
    width: 100%;
    height: 100%;
  }

  .notes {
    width: 100%;
  }
}



