/* Practice: Negative Margin */
body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
  max-width: calc(100% - 210px);
}

.clear {
  clear: both;
}

/** container  **/
.nm-container {
  margin: 0 auto;
  max-width: 1200px;
}

/** example box **/
.nm-example {
  background-color: #F5F5F5;
  overflow: auto;
  padding: 15px;
  margin-bottom: 30px;
}

.nm-example h3 {
  border-bottom: 1px solid #D24F2E;
  font-size: 1.5em;
  line-height: 60px;
  margin-bottom: 30px;
}

/** example 1**/
.nm-content {
  float:left;
  margin-right: -200px;
  width:100%;
}

.nm-content p {
  margin-right: 210px;
}

.nm-sidebar {
  float: left;
  width: 200px;
}

.nm-sidebar ul {
  border-left: 1px solid #ddd;
}

/** example 2 **/
.nm-list {
  list-style: none;
  text-align: center;
}

.nm-list li {
  border-bottom: 1px solid #ddd;
  line-height: 2em;
  width: 100px;
}

.nm-title {
  font-weight: 600;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.nm-col2 {
  margin-left:100px;
}

.nm-col3 {
  margin-left:200px;
}

.nm-top {
  margin-top: -142px;
}

/** example 3**/
.nm-site-footer,
.nm-page-wrap:after {
  height: 42px;
}

.nm-page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -42px;
}

.nm-page-wrap:after {
  content: "";
  display: block;
}

.nm-page-wrap p,
.nm-page-wrap button{
  margin-bottom: 30px;
}

.nm-site-footer {
  background-color: #D24F2E;
  color: #fff;
}

.nm-footer-list{
  padding: 10px 15px;
  margin: 0;
}

.nm-footer-list li{
  display: inline;
  padding: 10px 15px;
}
