/* Practice: Advanced Selectors */
body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h2 {
  border-bottom: 2px solid #ebebeb;
  font-size: 1.125em;
  font-weight: normal;
  letter-spacing: 3px;
  line-height: 40px;
  margin: 20px 0;
  padding-bottom: 20px;
  text-transform: uppercase;
}

footer {
  background-color: #787878;
  color: #fff;
  height: 100px;
  line-height: 100px;
  margin: 0 -20px -20px;
  padding: 20px;
}

footer div {
  margin: 0 auto;
  max-width: 1200px;
}

.as-header {
  border-bottom: 1px solid #ebebeb;
  color: #000;
  font-size: 1.5em;
  line-height: 100px;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
}

.as-container {
  margin: 0 auto;
  max-width: 1200px;
}

.as-container > aside {
  display: inline-block;
  width: 250px;
}

.as-container > section {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 290px);
}

.as-button-list li {
  background-color: #ebebeb;
  cursor: pointer;
  padding: 5px;
}

.as-avatar {
  min-height: 100px;
}

.as-avatar > img {
  cursor: pointer;
  float: left;
  height: auto;
  margin-right: 10px;
  width: 70px;
}

.as-avatar > div a {
  color: inherit;
  font-size: 0.9em;
  line-height: 1.5em;
  text-transform: capitalize;
}


.as-avatar > div p {
  color: #9b9b9b;
}


.as-top-list {
  line-height: 40px;
  margin: 20px 0;
}

.as-top-list div {
  float: right;
}

.as-top-list button {
  background-color: transparent;
  border: 1px solid #ebebeb;
  height: 40px;
  margin-left: 5px;
}


.as-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.as-card {
  position: relative;
}


.as-card-img {
  box-sizing: border-box;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  width: 15rem;
  height: 300px;
}

.as-card-img img {
  width: 100%;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


.as-onsale {
  background-color: #fbc2d4;
  color: #fff;
  font-size: 0.7em;
  font-weight: 100;
  line-height: 25px;
  padding: 1px 8px;
  position: absolute;
  top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 90px;
}


