@charset "UTF-8";
/*
 * Practice : Advanced Selectors
 * Version: 1.0.0
 * By: Elías Rodelo
 */
/* Variables */
*,
::after,
::before {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-family: 'Avenir'; }

h2,
h1 {
  font-family: 'Avenir';
  border-bottom: 1px solid rgba(15, 15, 15, 0.1);
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 1rem;
  line-height: 1.75;
  color: rgba(15, 15, 15, 0.5); }
  h2:not(:first-of-type),
  h1:not(:first-of-type) {
    margin-top: 2rem; }

h2 {
  font-size: 1.5em; }

h1 {
  font-size: 3em;
  text-align: center; }

.as-container {
  max-width: 80vw;
  margin: 2rem auto;
  display: flex; }
  .as-container > aside {
    width: 30%;
    padding: 1rem; }
  .as-container > section {
    padding: 1rem;
    width: 70%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.as-link {
  display: block;
  padding: 0.25em 0;
  text-transform: uppercase; }
  .as-link:hover {
    color: #d24f2e; }

.as-button-list li {
  margin-bottom: 0.5rem; }
.as-button-list-link {
  display: block;
  background-color: #f9e9e5;
  border-bottom: 2px solid rgba(210, 79, 46, 0.5);
  padding: 0.5rem;
  transition: 0.2s all linear; }
  .as-button-list-link:hover {
    background-color: rgba(210, 79, 46, 0.5); }

.as-avatar {
  display: flex;
  margin-bottom: 1rem; }
  .as-avatar-meta {
    width: 80%;
    padding: 0 1rem; }
    .as-avatar-meta > a {
      padding: 0; }
  .as-avatar-img {
    width: 20%;
    height: auto; }
    .as-avatar-img img {
      max-width: 100%; }

.as-price {
  font-weight: bold;
  font-size: 1em;
  margin: 0; }
  .as-price:after {
    content: ' total price';
    font-size: 0.5em; }

.as-top-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; }
  .as-top-list > div button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px; }
    .as-top-list > div button:first-child {
      background-color: #0f0f0f; }
      .as-top-list > div button:first-child i {
        color: #fff; }

.as-cards {
  display: flex;
  flex-wrap: wrap; }
  .as-cards .as-card {
    width: 33.3%;
    position: relative; }
    .as-cards .as-card .as-price:after {
      content: none; }
    .as-cards .as-card + .as-card {
      padding-right: 1rem;
      padding-bottom: 1rem; }
    .as-cards .as-card:hover {
      cursor: pointer; }
    .as-cards .as-card:first-of-type {
      padding-right: 1rem;
      padding-bottom: 1rem; }
    .as-cards .as-card > p {
      margin: 0; }
      .as-cards .as-card > p:first-of-type {
        font-size: 1em; }
    .as-cards .as-card-img {
      overflow: hidden;
      position: relative; }
      .as-cards .as-card-img:hover {
        opacity: 0.5; }
        .as-cards .as-card-img:hover img {
          transform: scale(1.1); }
      .as-cards .as-card-img img {
        max-width: 100%;
        transition: 0.2s all; }
    .as-cards .as-card .as-onsale {
      position: absolute;
      top: 1rem;
      left: 1rem;
      background-color: #d24f2e;
      color: #fff;
      text-transform: uppercase;
      font-size: 0.75em;
      padding: 1rem 1.25rem; }

footer {
  background-color: #0f0f0f;
  padding: 2rem 0;
  margin: 0 -20px -20px; }
  footer > div {
    max-width: 80vw;
    margin: 0 auto;
    color: #fff; }

@media screen and (max-width: 768px) {
  .as-cards .as-card {
    width: 100%; } }

/*# sourceMappingURL=example.css.map */
