/* Practice Layout */

.page-content {
  margin: 0 auto;
  max-width: 1200px;
  color: #787878;
}

a {
  text-decoration: none;
}

section {
  padding: 20px;
  background-color: #F5F5F5;
  margin-bottom: 30px;
}

section h1 {
  border-bottom: 1px solid #D24F2E;
  font-size: 1.5em;
  line-height: 60px;
  margin-bottom: 28px;
}

section h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

article p {
  line-height: 25px;
}

.section1 {
  overflow: auto;
}

.section1 .column1 {
  float: left;
  margin-right: -200px;
  width: 100%;
}

.column1, .column2 {
  box-sizing: border-box;
}

.section1 .column1 p,
.section1 .column1 h2 {
  margin-right: 210px;
}

.section1 .column2 {
  float: left;
  width: 200px;
}

.section1 .column2 ul {
  border-left: 1px solid #ddd;
}

.section1 .column2 li {
  padding: 16px;
}

.section1 .column2 .mdl-list__item-icon {
  margin-right: 32px;
  vertical-align: -7px;
}

.section2 .columns {
  list-style: none;
}

.section2 .columns .title{
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 9px;
}

.section2 .columns li {
  border-bottom: 1px solid #ddd;
  width: 100px;
  line-height: 2em;
  text-align: center;
}

.section2 .columns .col2 {
  margin-left: 100px;
}

.section2 .columns .col3 {
  margin-left: 200px;
}

.section2 .columns .top {
  margin-top: -15em;
}

.section2 .section3 {

}
