/* General styles */
* {
	box-sizing: border-box;
}

h1 {
  border-bottom: 1px solid #d24f2e;
	font-size: 2em;
	margin: 10px 0px 30px 0px;
	padding-bottom: 11px;
}

h2 {
	font-size: 1.3em;
	font-weight: bold;
	margin: 5px 0px 15px 0px;
}

p {
  line-height: 1.3;
}

section.main {
	background-color: #f2f2f2;	
	color: #8c8c8c;
	margin-bottom: 50px;
	padding: 20px 10px 20px 20px;
	overflow: auto;
}

/* Content and side bar Styles */

.content {
	float: left;
	margin-right: -300px;
	width: 100%;
}

.content * {
	margin-right: 320px;
}

aside.sidebar {
	border-left: 1px solid #d9d9d9;
	float: left;
	padding-left: 30px;
	width: 300px;
}

aside.sidebar li,
.sidebar .material-icons {
	font-size: 1.6em;
}

.sidebar .material-icons {
	color: #9c6464;
}

aside.sidebar a {
	text-decoration: none;
}

/* Negative margins in <li> Styles */
.table li {
	border-bottom: 1px solid #d6d6d6;
	line-height:1.3em;
	padding: 10px 0;
	text-align: center;
	width: 100px;
}

.table .top {
	margin-top:-17.94em;
}

.table .head {
	font-weight: bold;
}

.table .col2 {
	margin-left:100px;
}

.table .col3 {
	margin-left:200px;
}

/* Sticky footer styles */
.page-wrap {
	min-height: 100%;
  margin-bottom: -40px;
}

.page-wrap p {
  margin-bottom: 10px;
}

footer.sticky {
  background-color: #d24f2e;
  color: #fff;
  padding: 12px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.sticky, .page-wrap:after {
	height: 40px; 
}