/* Practice: Transform, Transition and Animations */
body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.trash{
  color: black;
}
.container{
  margin: 0 30px;
  font-family: sans-serif;
}

/** wrap  **/
.wrap {
  margin: 0 auto;
  max-width: 1200px;
}

/* header */
.title {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
  font-size: 3em;
  text-align: center;
  margin: 0 0 30px 0;
}


.flash {
  animation: flash 5s ease-out infinite;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

/** article  **/
.article {
  clear: both;
  float:left;
  background-color: #C8C8C8;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}

.article img {
  float: left;
  margin: 0 10px 0 0;
  width: 300px;
}

.article ul {
  list-style:none;
  margin: 20px 50px 0 50px;
  height:550px;
}
.article li {
  display:inline;
  float:left;
  -webkit-perspective: 500;
}

.article li img {
  border:10px solid #fcfafa;
  -webkit-transform: rotateY(30deg);
  -moz-box-shadow:0 3px 10px #888;
  -webkit-box-shadow:0 3px 10px #888;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.5s;
}
.article li:hover img {
  -webkit-transform: rotateY(0deg);
}

.animal-info {
  border:10px solid #fcfafa;
  padding:20px;
  width:200px;
  height:120px;
  background-color:#deddcd;
  margin:-195px 0 0 55px;
  position:absolute;
  bottom: 0;
  -moz-box-shadow:0 20px 40px #888;
  -webkit-box-shadow:0 20px 40px #888;
  -webkit-transform: translateZ(30px) rotateY(30deg);
  -webkit-transition-property: transform, box-shadow, margin;
  -webkit-transition-duration: 0.5s;
}

.article li:hover .animal-info {
  -webkit-transform: rotateY(0deg);
  -webkit-box-shadow:0 5px 10px #888;
  margin:-175px 0 0 30px;
}

.animal-info h3 {
  color:#7a3f3a;
  font-variant: small-caps;
  font-family:Georgia,serif,Times;
  text-align:center;
  padding-bottom:15px;
}
.animal-info p {
  padding-bottom:15px;
}
.animal-info a {
  background-color:#7a3f3a;
  padding:5px 10px;
  color:#eee;
  text-decoration:none;
  display:block;
  width:80px;
  text-align:center;
  margin:0 auto;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.animal-info a:hover, .animal-info a:focus {
  background-color:#6a191f; color:#fff;
}

@media (max-width: 1200px) {
  .wrap .article li:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrap .article li:not(:first-child) {
    display: none;
  }
}

@media (max-width: 426px) {
  .article ul {
    list-style:none;
    margin: 0;
    height: 400px;
  }
  .article img {
    float: left;
    margin: 0 10px 0 0;
    width: 275px;
  }
  .article li:hover .animal-info{
    margin-left: 18px;
  }
}

/* notes */
.notes{
  width: calc(100% - 350px);
  height: 100%;
  overflow: auto;
}

.notes h2, .notes p{
  font-size: 20px;
  font-weight: normal;
}

.notes ul,li{
  list-style: none;
}

.notes ul{
  overflow: hidden;
  padding: 3em;
}

.notes ul li div{
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 150px;
  width: 150px;
  padding: 15px;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

.notes ul li{
  margin:1em;
  float:left;
}

.notes ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}

.notes ul li p{
  font-size: 25px;
}

.notes ul li div{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.notes ul li:nth-child(even) div{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}

.notes ul li div:hover, .notes ul li div:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  animation: notes-anim 2s ease-in-out forwards;
  position:relative;
  z-index:5;
}

@media (max-width: 1024px) {
  .notes ul li:nth-child(odd) {
    display: none;
  }
}
@media (max-width: 426px) {
  .notes{
    width: 100%;
    height: 100%;
  }
  .notes ul li:not(:nth-child(2)) {
    display: none;
  }
}

/** sidebar  **/
.sidebar {
  float: right;
  width: 350px;
  height: 730px;
  padding: 15px;
  background-color: #E8E8E8;
  box-sizing: border-box;
  text-align: center;
}

.sidebar button {
  box-shadow: 0px 10px 14px -7px #275873;
  background:linear-gradient(to bottom, #55c4e6 5%, #0babe0 100%);
  background-color:#55c4e6;
  border-radius: 10px;
  cursor:pointer;
  color: #ffffff;
  font-size:20px;
  font-weight: bold;
  padding:13px 32px;
  text-shadow: 2px 1px 0px #275873;
  margin: 10px;
}
.sidebar button:hover {
  background:linear-gradient(to bottom, #0babe0 5%, #55c4e6 100%);
  background-color:#0babe0;
  animation: bubble-anim 2s ease-in-out forwards;
}

@keyframes bubble-anim {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
    }
    20% {
      -webkit-transform: scaleY(0.95) scaleX(1.05);
      -moz-transform: scaleY(0.95) scaleX(1.05);
      -o-transform: scaleY(0.95) scaleX(1.05);
    }
    48% {
      -webkit-transform: scaleY(1.1) scaleX(0.9);
      -moz-transform: scaleY(1.1) scaleX(0.9);
      -o-transform: scaleY(1.1) scaleX(0.9);
    }
    68% {
      -webkit-transform: scaleY(0.98) scaleX(1.02);
      -moz-transform: scaleY(0.98) scaleX(1.02);
      -o-transform: scaleY(0.98) scaleX(1.02);
    }
    80% {
      -webkit-transform: scaleY(1.02) scaleX(0.98);
      -moz-transform: scaleY(1.02) scaleX(0.98);
      -o-transform: scaleY(1.02) scaleX(0.98);
    }
    97%, 100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
    }
}

@media (max-width: 1024px) {
  .sidebar{
    height: 500px;
  }
}

@media (max-width: 426px) {
  .sidebar{
    width: 100%;
    height: 100%;
  }
}