/* Practice Layout */

.trash{
	color: black;
}
.container{
	margin: 0 30px;
}

.example1{
	overflow: auto;
    border-bottom: 1px solid #ddd;
}

.content {
	width:100%; 
	float:left; 
	margin-right: -200px;
}

.content p {
	margin-right: 210px;
}

.sidebar {
	width: 200px; 
	float: left;
}

.demo-list-item {
  	border-left: 1px solid #ddd;
}

.example2{
	clear: both;
	overflow: auto;
    border-bottom: 1px solid #ddd;
    margin-top: 30px;
}

.example2 ul{
	text-align: center;
	list-style:none;
}

.example2 li{
    border-bottom: 1px solid #ddd;
    width: 100px;
    line-height: 2em;
}

.title{
	font-weight: 600;
	padding-bottom: 10px;
}

.col2 {
	margin-left:100px;
}

.col3 {
	margin-left:200px;
}

.top {
	margin-top:-9em;
}

.example3{
	padding-top: 30px;
	height: 300px;
}

.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -42px; 
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer, .page-wrap:after {
	height: 42px; 
}

.site-footer {
	background: #D24F2E;
	color: #fff;
}
.footer-list{
    padding: 10px 15px;
    margin: 0;
}
.footer-list li{
	display: inline;
    padding: 10px 15px;
}
span{
	font-size: 16px;
}