/* Practice Layout */
body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
/** A container with max width 1200px and centered horizontally. Use margin property. **/
.wrapper-section {
  background-color: #f8f8f8;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

/** A bar with a text centered. **/
.cnt-text-center {
  text-align: center;
  background-color: #d2d2d2;
  height: 50px;
  line-height: 50px;
  margin: 0 0 30px 0;
}

/** A bar with 4 centered links. **/
.cnt-nav-center-links {
  text-align: center;
  background-color: #DCDCDC;
	padding: 15px;
}

.cnt-nav-center-links ul {
 list-style:none;
	margin: 0;
	padding: 0;
}

.cnt-nav-center-links li {
	line-height: 15px;
	display: inline;
	padding-right: 15px;
  margin-right: 15px;
}


/** Three centered block level elements with text inside. **/
.cnt-inline-block-center {
  text-align: center;
  margin-bottom: 22px;
}

.cnt-inline-block-center div {
  background-color: #d2d2d2;
  display: inline-block;
  text-align: left;
  width: 220px;
  padding: 45px;
  margin: 7px;
}

/** Three centered elements with text inside using flexbox. **/
.cnt-flex-center {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

.cnt-flex-center div {
  background-color: #d2d2d2;
  width: 220px;
  padding: 45px;
  margin: 7px;
}

/** A single centered line of text using height and line height properties. **/
.cnt-line-center{
 background-color: #d2d2d2;
 height: 170px;
 line-height: 170px;
 white-space: nowrap;
 width: 340px;
 padding: 35px 25px;
}

/** Center multiple lines of text using vertical align property. **/
.cnt-vertically-center-table {
 display: table;
 background-color: #d2d2d2;
 height: 250px;
 width: 240px;
 margin: 20px;

}

.cnt-vertically-center-table p {
display: table-cell;
margin: 0;
padding: 20px;
vertical-align: middle;

}

/** Center multiple lines of text using flexbox. **/
.cnt-flex-center-vertically {
 background-color: #d2d2d2;
 display: flex;
 justify-content: space-around;
 flex-direction: column;
 height: 450px;
 padding: 50px;
 }

/** A Block-level element with a fixed height, centered vertically within a parent. **/
.cnt-block-level-center {
  background-color: #d2d2d2;
  position: relative;
  height: 400px;
  width: 100%;
  margin: 25px 0;
  resize: vertical;
  overflow: auto;
 }

.cnt-block-level-center div{
 background-color: #a9a9a9;
 position: absolute;
 height: 150px;
 margin: 20px;
 padding: 25px;
 top: 40%;
 left: 30px;
 right:30px;
 margin-top: -60px;
}

.cnt-block-level-center div p{
 color: #fff;
 margin: 0;
 padding: 60px;
 text-align: center;
}

/** A Block-level element with an unknown height, centered vertically within a parent. **/
.cnt-position-center-no-height {
  background-color: #d1d1d1;
   position: relative;
   height: 350px;
   width: 100%;
   margin: 20px 0;
   resize: vertical;
   overflow: auto;
}

.cnt-position-center-no-height div{
 background-color: #a8a8a8;
  position: absolute;
  height: 150px;
  margin: 20px;
  padding: 25px;
  top: 40%;
  left: 30px;
  right:30px;
    transform: translateY(-40%);
}

.cnt-position-center-no-height div p {
   color: #fff;
   margin: 0;
   padding: 40px;
   text-align: center
}
