/*
 * Practice : Centering
 * Version: 1
 * By: xxx
 */
.bg-light{
  background-color: #E8E8E8;
}
.bg-deep-dark{
  background-color: #A9A9A9;
  color: whitesmoke;
}
.bg-dark{
  background-color: #D3D3D3;
}

.full-title{
  text-align: center;
  padding: 10px 0;
}

.main-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-menu > div{
  width: 10%;
}
.main-menu > div a{
  display: block;
  padding: 10px 0;
  text-align: center;
  transition: background-color .5s, border-radius .5s;
}
.main-menu > div a:hover{
  background-color: #6a191f;
  border-radius: 3px;
}

.text-blocks{
  display: flex;
  justify-content: center;
  margin: 3% 0;
  align-items: flex-end;
  padding: 20px;
}
.text-blocks > .block{
  max-width: 20%;
  margin: 0 1%;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background-color: #D3D3D3;
}
.text-blocks > .big-block{
  height: 200px;
}
.text-blocks > .middle-block{
  height: 150px;
}
.text-blocks > .small-block{
  height: 100px;
}

.centered-line{
  display: flex;
  align-items: center;
  width: 40%;
  height: 80px;
  padding-left: 15px;
  margin: 10px;
}
.centered-middle-line{
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  padding: 15px;
  justify-content: center;
  margin: 10px;
}
.spaced-paragraph{
  padding: 30px 0;
}
.section-blocks{
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin: 1% 0;
}
.section-blocks .block{
  width: 95%;
  padding: 10px 5px;
  height: 40%;
}

.square-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #79A5A3;
}

.big-square{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B95755;
  width: 150px;
  height: 150px;
}
.middle-square{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3D4351;
  width: 90px;
  height: 90px;
}
.small-square{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C89E66;
  width: 60px;
  height: 60px;
}
