/*
 * Practice : Centering
 * Version: 1
 * By: Laura Alvarez
 */
 .mdl-layout__content {
 	margin-top: 20px;
 }

.page-content {
	max-width: 1200px;
	margin: auto;
	background-color: rgb(233,233,233);
	padding-top: 1px;
}

h4, .nav {
	text-align: center;
    background: #bdbdbd87;
    padding: 5px;
}

.nav {
	padding: 10px;
}

.nav a {
	text-decoration: none;
	padding: 10px;
}

.nav div {
	display: inline;
}
