/* Practice Layout */

.trash{
	color: black;
}

body {
    font-size: 16px;
    color: #777777;
}

section.main > div {
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-bottom: 20px;
}

p {
    font-size: 16px;
}

.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background: #E0E0E0;
    padding: 30px 20px;
    box-sizing: border-box;
}

.dark {
    background-color: #D0D0D0;
}

.text {
    text-align: center;
}

.text p {
    margin: 0;
}

.links {
    text-align: center;
    padding: 10px;
}

.links li {
    list-style: none;
    display: inline-block; 
}

.links a {
    text-decoration: none;
    margin-right: 10px;
}

.block-level {
    text-align: center;
}

.block-level > div, .flexbox > div {
    display: inline-block;
    width: 250px;
    margin-right: 20px;
    padding: 40px;
    text-align: left;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    justify-content: center;
}

.single-line p{
    height: 100px;
    width: 500px;
    line-height: 100px;
    padding-left: 20px;
}

.multiple-lines {
    width: 250px;
    height: 100px;
    display: table;
}

.multiple-lines p {
    display: table-cell;
    vertical-align: middle;
    padding: 70px 20px;
}

.multiple-lines-flex {
    display: flex;
    height: 300px;
    padding: 40px;
    justify-content: center;
    flex-direction: column;
}

.block-fixed {
    position: relative;
    height: 300px;
    padding: 20px;
}

.block-fixed > div {
    position: absolute;
    background: #A0A0A0;
    color: #FFFFFF;
    top: 50%;
    height: 150px;
    margin-top: -75px;
    left: 20px;
    right: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.block-unknown {
    position: relative;
    height: 300px;
}

.block-unknown > div {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
    background: #A0A0A0;
    color: #FFFFFF;
}