/*
 * Practice : Styling Buttons, links and lists
 * Version: 1.0.0
 * By: Elías Rodelo
 */

$talos: #d24f2e;
$talos-light: lighten($talos, 45%);

.page-content {
  padding: 0;

  * {
    box-sizing: border-box;
  }
}

h1,
h2,
.page-content {
  font-family: 'Avenir', sans-serif;
  margin: 0;
  font-size: 2em;
}

.st-header {
  width: 100%;
  height: 20rem;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url('../resources/background.jpg');
  background-attachment: fixed;
  background-position: 50% top;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  h1 {
    color: $talos-light;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 2rem;
  }
}

.st-container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;

  form {
    max-width: 500px;
    margin: 0 auto;

    input,
    textarea {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      background-color: #eaeaea;
      padding: 0.5rem 1rem;
      color: black;
      border: 0;
      font-size: 11pt;
      border: 2px solid transparent;
      transition: 0.2s all ease-in-out;

      &:last-child {
        margin-bottom: 0;
      }

      &:active,
      &:focus {
        border-color: #dadada;
        outline: 0;
      }
    }

    button {
      background-color: $talos;
      color: $talos-light;
      padding: 1rem 3rem;
      text-transform: uppercase;
      font-weight: bolder;
      border: 2px solid darken($talos, 10%);
      transition: 0.2s all ease-in-out;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        background-color: #fefefe;
        color: darken($talos, 10%);
      }

      &:active,
      &:focus {
        outline: 0;
      }
    }

    p {
      margin-top: 1rem;
      font-weight: bolder;
      opacity: 0.5;
      text-transform: uppercase;
    }
  }
}

.footer {
  background-color: $talos;
  color: $talos-light;

  &-inner {
    @extend .st-container;
    display: flex;
    justify-content: space-around;

    > div {
      width: 33.3%;
      margin: 0 1rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      p {
        font-weight: bolder;
        text-transform: uppercase;
        line-height: 1.125;
        padding-bottom: 1rem;
        border-bottom: 1px solid $talos-light;
        letter-spacing: 1pt;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 0.5rem;
    }

    a {
      color: $talos-light;
      display: block;

      &:hover {
        color: rgba($talos-light, 0.75);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer-inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div {
      margin: 0;
      margin-bottom: 2rem;
      width: 100%;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}
