/* Practice Layout */

.trash{
	color: black;
}

body,
html {
  margin: 0;
  padding: 0;
  color: #787878;
}

.centering-wrap {
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  padding: 20px;
}

/** center horizontally  **/
.text-center {
  text-align: center;
  background-color: lightgray;
  height: 40px;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.links-center {
  text-align: center;
  background-color: lightgray;
  margin-bottom: 20px;
}

.links-center ul {
  margin:0;
  padding:0;
  list-style:none;
  height: 40px;
  line-height: 40px;
}

.links-center li {
  display: inline-block;
  line-height: 15px;
}

.links-center li:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
}

.links-center a {
  text-decoration: none;
}

.inline-block-center {
  text-align: center;
  margin-bottom: 20px;
}

.inline-block-center div {
  background-color: lightgray;
  display: inline-block;
  text-align: left;
  width: 200px;
  padding: 40px;
  margin: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.flex-center div {
  background-color: lightgray;
  width: 200px;
  padding: 40px;
  margin: 5px;
}

/** center vertically  **/
.line-center {
  background-color: lightgray;
  height: 100px;
  line-height: 100px;
  padding: 20px;
  width: 50%;
  white-space: nowrap;
}

.table-center {
  display: table;
  height: 250px;
  width: 240px;
  margin: 15px 0;
}

.table-center p {
  background-color: lightgray;
  display: table-cell;
  padding: 20px;
  vertical-align: middle;
}

.flex-center-vertically {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  padding: 40px;
}

.position-center {
  background-color: lightgray;
  height: 300px;
  margin: 20px 0;
  width: 100%;
  position: relative;
  resize: vertical;
  overflow: auto;
}

.position-center div {
  background-color: darkgray;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  height: 100px;
  margin-top: -70px;
  color: white;
  padding: 20px;
}

.position-center-no-height {
  background-color: lightgray;
  height: 300px;
  margin: 20px 0;
  width: 100%;
  position: relative;
  resize: vertical;
  overflow: auto;
}

.position-center-no-height div {
  background-color: darkgray;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  color: white;
  padding: 20px;
  transform: translateY(-50%);
  resize: vertical;
  overflow: auto;
}

