/* Practice: Responsive Design and Media Queries */

/*==================================================
=            Mobile First Method             =
==================================================*/

body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.page-content {
  padding: 0;
}

.content {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
