/* Practice Layout Box Sizing */

body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
   max-width: 1400px;
}

.box {
  background-color: #E8E8E8;
  width: 1000px
  height: 80px;
  margin: 15px;
  padding: 15px;

}

.box-in {
  background-color: #A7A7A7;
  margin: 15px;
  padding: 15px;
  border: 5px solid #D24F2E;
  max-width: 75%
}

/*****Context-Box*****/
.content-box-box {
  box-sizing: content-box;
}

/*****Box-Sizing-Box*****/
.box-sizing-box {
  box-sizing: border-box;
}
