/* Practice Layout */
html, body, div{
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    counter-reset: section;
    margin: 0;
    padding: 0;
}

article, aside, footer, header, nav, section {
    display:block;
}

nav ul {
    list-style:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

h1{
    letter-spacing: 2px !important;
    font-size: 2.5em;
}

h1, h2, h3, h4, h5, h6, p, span, header{
    font-family: sans-serif;
    letter-spacing: normal;
}

body {
    counter-reset: section;
    margin: 0;
    padding: 0;
}

.trash{
	color: black;
}

.container{
	margin: 0 30px 30px 30px;
    padding: 5%;
    position: relative;
    background-color: #96baba;
}

.wrapper{
    margin: 0;
    background-color: lightskyblue;
    padding: 5%;
}
.project-header{
    display: inline;
    color: #fff;
    font-size: 25px;
    background-color: hotpink;
    padding: 10px 20px;
}
.project-header span{
    font-size: 19px;
}

.beauty{
    color: #fff;
    width: 60%;
}

.beauty .title{
    text-transform: capitalize;
}

.beauty .title span{
    text-transform: uppercase;
}

.beauty p{
    text-transform: uppercase;
    letter-spacing: 3px;
}

hr{
    background-color: #db2525;
    border-color: #db2525;
}

.white-box{
    width: 60%;
    background-color: white;
    color: black;
    margin-left: -12.1%;
    padding: 10px 10px 10px 12%;
    opacity: 0.8;
}
.yellow-box{
    box-sizing: border-box;
    position: absolute;
    background-color: #f1f7a3;
    top: 10%;
    right: 0;
    color: gray;
    z-index: 15;
    width: 35%;
    opacity: 0.8;
    padding: 5%;
}

.yellow-box h1{
    padding-bottom: 10px;
    padding-left: 1%;
}
.yellow-box ul, .yellow-box h1{
    list-style-type: none;
    margin: 0;
}
.yellow-box ul{
    line-height: 30px;
    padding: 2%;
}
.yellow-box ul li{
    font-weight: lighter;
}

.yellow-box ul li.bold{
    font-weight: bold !important;
}
