/* Practice Layout */

.trash{
	color: black;
}
.container{
	margin: 0 30px;
}
body,
html {
	margin: 0;
	padding: 0;
	color: #787878;
}

/** wrap  **/
.wrap {
	margin: 0 auto;
	background-color: #E8E8E8;
	max-width: 1200px;
}

/** header  **/
.header {
	background-color: #E8E8E8;
	padding: 15px;
}

.header h1 {
	color: #787878;
	font-size: 35px;
  line-height: 30px;
	margin: 0;
	display: inline;
}

.header span{
	float: right;
}

/** nav  **/
.nav {
	padding: 15px;
	background-color: #DCDCDC;
}

.nav ul {
	margin:0;
	padding:0;
	list-style:none;
}

.nav li {
	line-height: 15px;
	display: inline;
}

.nav li:not(:last-child) {
	padding-right: 10px;
	margin-right: 10px;
}

.nav a {
	text-decoration: none;
}

/*section*/

.sections{
  display: table;
}

.sections article{
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	padding: 15px;
}

/* table */

.table{
	margin: 15px 0;
  display: table;
  width:100%;
  border-collapse:collapse;
  background-color: #C8C8C8;
}

.table-row{
  display: table-row;
  text-align: center;
}

.table-cell, .table-head{
  display: table-cell;
  padding:1em;
  border:#f0f0f0 1px solid;
}

.table-head{
  font-weight:bold;
}

/* boxes*/

.box{
	margin: 15px 0;
}

.box div {
  display: inline-block;
  width: 150px;
  height: 75px;
  margin: 10px;
  border: 3px solid #73AD21;  
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}
