/* Practice Layout */

.page-content {
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
}

.content > h1 {
  color: #f35626;
  text-align: center;
  font-size: 50px;
  margin: 30px;
  animation: change-opacity 60s infinite;
}

@keyframes change-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cards {
  background-color: #C8C8C8;
  clear: both;
  float: left;
  box-sizing: border-box;
  padding: 39px 15px 15px 15px;
  width: 100%;
  height: 600px;
}

.cards {
  color: #787878;
}

.cards .card {
  display: inline;
  float: left;
  position: relative;
  -webkit-perspective: 500px;
  perspective: 500px;
}

.cards .card:first-child {
  margin-left: 45px;
}

.cards .card img {
  float: left;
  margin: 0 10px 0 0;
  width: 300px;
  border: 10px solid #fcfafa;
  -webkit-transform: rotateY(30deg);
  -moz-box-shadow: 0 3px 10px #888;
  -webkit-box-shadow: 0 3px 10px #888;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.5s;
}

.cards .card:hover img,
.cards .card:hover .bottom-text{
  -webkit-transform: rotateY(0deg);
}

.cards .card .bottom-text {
  border: 10px solid #fcfafa;
  padding: 20px;
  width: 200px;
  height: 120px;
  background-color: #deddcd;
  margin: -195px 0 0 31px;
  position: absolute;
  bottom: 0;
  -moz-box-shadow: 0 20px 40px #888;
  -webkit-box-shadow: 0 20px 35px #888;
  -webkit-transform: translateZ(30px) rotateY(30deg);
  -webkit-transition-property: transform, box-shadow, margin;
  -webkit-transition-duration: 1s;
}

.cards .card .description-title {
  font-variant: small-caps;
  font-family: Georgia,serif,Times;
  text-align: center;
  margin: 14px;
  color:#7a3f3a;
}

.cards .card .description {
  line-height: 22px;
}

.cards .card .link {
  color: #FFF;
  text-decoration: none;
  display: block;
  width: 80px;
  background: #7a3f3a;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin: 11px auto;
}

.stickers {
  width: 70%;
}

.stickers .sticker {
  box-sizing: border-box;
  display: inline-block;
  height: 150px;
  width: 150px;
  box-shadow: 5px 10px 8px #888888;
  padding: 17px;
  margin: 17px;
  transition: all 0.5s;
  float: left;
}

.stickers .sticker h2 {
  font-size: 22px;
  font-weight: bold;
}

.stickers .sticker p {
  font-size: 21px;
  margin-top: 15px;
}

.stickers .sticker:nth-child(odd) {
  background: #ffc;
  transform: rotate(-10deg);
}

.stickers .sticker:nth-child(even) {
  background: #cfc;
  transform: rotate(10deg);
}

.stickers .sticker:hover {
  width: 200px;
  height: 200px;
  z-index: 3;
  transform: rotate(0deg);
  box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position: relative;
  animation: 1s ease-in-out forwards;
}

aside {
  width: 30%;
  float: left;
  background: #E8E8E8;
  height: 600px;
}

aside a {
  display: block;
  width: 150px;
  border-radius: 5px;
  background: linear-gradient(to top, #55c4e6 5%, #0babe0 100%);
  text-align: center;
  margin: 26px auto;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  color: #fFF;
  padding: 14px;
  text-shadow: 2px 2px 2px #000;
  box-shadow: 0px 4px 3px #888;
}

aside a:hover {
  animation: bounce 1.5s ease-in-out;
  background: linear-gradient(to bottom, #55c4e6 5%, #0babe0 100%);
}

@keyframes bounce {
  0% {
    padding: 12px 16px 12px 16px;
  }

  40% {
    padding: 16px 7px 16px 7px;
  }

  80% {
    padding: 15px 13px 15px 13px;
  }

  100% {
    padding: 14px;
  }
}

