/*  GENERAL STYLES
   ============================= */

html, body {
  background-color: #D5EADE;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  position: relative;
}

p {
    padding: 2% 0; 
}

p::first-letter {
    font-weight: 600;
}

.title {
  font-size: 2em;
  line-height: 2.5;
}

.trash{
  color: black;
}

.container{
  position: relative;
}


/*  DESKTOP STYLES 
   ============================= */

.blue-wrapper {
  background-color: #76C4D1;
  box-sizing: border-box;
  margin: 5%;
  padding: 5% 0;
  min-height: 100%;
  overflow: auto
}

.gray-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  min-height: 100%;
}

.yellow-wrapper {
  background-color: #DFE180;
  box-sizing: border-box;
  color: #8C8D57;
  line-height: 1;
  padding: 5%;
  position: absolute;
  margin-top: 5%;
  right: 5%;
  top: 0;
  width: 30%;
}

.yellow-wrapper .title-list {
  font-size: 2em;
  padding-bottom: 5%;
}

.yellow-wrapper ul {
  counter-reset: section;
}

.yellow-wrapper li {
  padding: 2% 0;
  font-weight: 100;
}

.yellow-wrapper .bold{
  font-weight: 400;
}

.first-content {
  box-sizing: border-box;
  padding-left: 5%;
  width: 60%;
}

.first-content .box-title {
  background-color: #E72840;
  box-sizing: border-box;
  line-height: 2.5;
  padding: 0 10px;
  width: 30%;
  text-transform: uppercase;
}

.first-content .content-title {
  font-size: 3em;
  font-weight: 600;
}

.first-content hr{
  border-bottom: 1px solid #E72840;
} 

.first-content .content-one p {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5% 0;
}

.first-content .content-two {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  padding: 5% 5% 5% 20%;
  margin-left: -20%;
}

.first-content .content-two p {
  font-size: 0.9em;
  font-weight: 400;
  padding: 2% 0;
}