/* Practice Layout */
body {
	background-color: #D5EADE;
	font-weight: lighter;
	font-family: 'Raleway', verdana, arial, sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
}

abbr {
    text-transform: uppercase;
}

.page-content {
	font-family: inherit;
}

article, nav, section {
	display: block;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: normal;
    padding-bottom: 50px;
}

h3 {
	font-size: 30px;
	padding-bottom: 20px;
}

p::first-letter {
	font-weight: bold;
}

.main-container {
	background-color: #76C4D1;
	color: #FFFFFF;
	margin: 40px;
    padding: 5% 35% 5% 6%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.main-container article p {
	letter-spacing: inherit;
	line-height: 1.5em;
	text-transform: uppercase;
}

.main-container hr {
	border-color: #E72840;
	margin-bottom: 20px;
	margin-top: 40px;
}

.search-container {
	width: 150px;
	position: relative;
}

.search-container i {
	color: #000000;
	top: 3px;
	left: 10px;
	position: absolute;
}

.search-container input	{
	line-height: 30px;
    padding-left: 40px;
    border-radius: 5px;
    border: none;
}

.yellow-container {
	padding: 5%;
    background-color: #DFE180;
    box-sizing: border-box;
    color: #8C8D57;
    position: absolute;
    right: 60px;
    top: 14%;
    width: 30%;
    z-index: 3;
}

.yellow-container li {
	margin-bottom: 10px;
	font-size: 13px;
}

.yellow-container li::before {
	content: '\2713';
	margin-right: 5px;
}

.yellow-container li:nth-child(2n+3) {
	font-weight: 400;
	font-size: 0.8em;
}

.yellow-container li:nth-child(2n+3):after {
	content: '- using em';
	margin-left: 5px;
}

.yellow-container li:nth-child(2n+2) {
	font-size: 10pt;
}

.yellow-container li:nth-child(2n+2)::after {
	content: '- using pt';
	font-weight: bold;
	margin-left: 5px;
}

.white-container {
	background-color: rgba(255,255,255, 0.8);
    box-sizing: border-box;
    color: #000000;
    margin-left: -20%;
    margin-top: 40px;
	padding: 7% 5% 7% 20%;
    width: 120%;
    z-index: 4;
}

.white-container p {
	font-size: 14px;
	margin-bottom: 20px;
}

.icon-container {
	width: 90px;
    margin-left: auto;
    font-size: 20px;
    margin-bottom: 20px;
}

.button-container {
    width: 300px;
    position: relative;
}

.button-container i {
	color: #FFFFFF;
    position: absolute;
    top: 5px;
    left: 10px;
}

.button-container button {
    background-color: #ff4081;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button-container button:focus {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.black-container {
	width: 30%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    right: 0;
    z-index: 2;
}

@media (max-width: 640px) {
	.main-container {
		padding-right: 6%;
		margin: 10px;
	}

	.black-container {
		display: none;
	}

	.yellow-container {
		position: relative;
		right: auto;
		top: auto;
		width: 100%;
	}

	.yellow-container h3, .main-container, .yellow-container li {
		margin-bottom: 30px;
	}
}

.trash{
	color: black;
}
