/* Practice: Styling Buttons, Links and Lists */
.trash{
  color: black;
}
.container{
  margin: 0 30px;
  font-family: sans-serif;
}

/* Design*/
* {
  margin: 0;
}

html, body, main, .page-content {
  height: 100%;
  padding: 0 !important;
  color: #9b9b9b;
}

.page-wrap {
  margin-bottom: -300px;
  min-height: 100%;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 300px;
}

.site-footer {
  background-color: #fbc2d4;
  padding: 20px 0;
}

.background {
  background-image: url("../images/background.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background h1 {
  background-color:  #000;
  color: #fff;
  font-size: 28px;
  line-height: 250px;
  opacity: 0.5;
  text-align: center;
  text-transform: uppercase;
}

.form-wrap {
  margin: 0 auto;
  padding: 20px;
  width: 500px;
}

.input {
  background-color: #eee;
  border: 0;
  box-sizing: border-box;
  color: #444;
  display: block;
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.input:focus {
  outline: 0;
  border: 1px solid darkgray;
}

.button {
  background-color: #fbc2d4;
  border: 0;
  color: #fff;
  display: block;
  font-size: 15px;
  height: 56px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}

.button:hover {
  background-color: #fff;
  border: 1px solid #fbc2d4;
  color: #fbc2d4;
  cursor: pointer;
}

.flex-center {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  color: #fff;
  font-size: 15px;
  margin: 40px;
  min-width: 250px;
}

.box .title {
  border-bottom: 1px solid #fff;
  letter-spacing: 3px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.box ul li {
  padding-bottom: 10px;
}

.box ul li a {
  color: #fff;
  font-weight: 100;
  text-decoration: none;
}

.box ul li a:hover {
  color: #000;
}

