/* Practice: Styling Buttons, Links and Lists */
.container{
  margin: 0 30px;
  font-family: sans-serif;
}

* {
  margin: 0;
}

html, body, main, .page-content {
  height: 100%;
  padding: 0 !important;
  font-size: 16px;
  line-height: 1.5;
  color: #9b9b9b;
}

.content {
  margin-bottom: -300px;
  min-height: 100%;
}

.content:after {
  content: "";
  display: block;
}

footer, .content:after {
  height: 300px;
}

footer {
  background-color: #fbc2d4;
  padding: 20px 0;
}

.content .title {
  background-image: url("../images/background.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content .title h1 {
  background-color:  #000;
  color: #fff;
  font-size: 28px;
  line-height: 250px;
  opacity: 0.5;
  text-align: center;
  text-transform: uppercase;
}

.form-container {
  margin: 0 auto;
  padding: 20px;
  width: 500px;
}

.input {
  background-color: #eee;
  border: 0;
  box-sizing: border-box;
  color: #444;
  display: block;
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.input:focus {
  outline: 0;
  border: 1px solid darkgray;
}

.button {
  background-color: #fbc2d4;
  border: 0;
  color: #fff;
  display: block;
  font-size: 15px;
  height: 56px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}

.button:hover {
  background-color: #fff;
  border: 1px solid #fbc2d4;
  color: #fbc2d4;
  cursor: pointer;
}

.flex-center {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  color: #fff;
  font-size: 15px;
  margin: 40px;
  min-width: 250px;
}

.column .title {
  border-bottom: 1px solid #fff;
  letter-spacing: 3px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.column ul li {
  padding-bottom: 10px;
}

.column ul li a {
  color: #fff;
  font-weight: 100;
  text-decoration: none;
}

.column ul li a:hover {
  color: #000;
}


