/* Practice Layout */

.page-content {
  color: #787878;
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

section, header, nav {
  background-color: #E8E8E8;
  padding: 15px;
  display: block;
}

nav {
  background-color: #DCDCDC;
}

nav ul {
  color: #FF4081;
}

nav ul li {
  margin-right: 10px;
  display: inline-block;
}

h1 {
  font-size: 2.5em;
  line-height: 60px;
}

p {
  line-height: 25px;
}

.section1 > div {
  display: table-cell;
  padding: 15px;
  vertical-align: middle;
  width: 50%;
}

.section3 div {
  border: 3px solid #73AD21;
  box-sizing: border-box;
  display: inline-block;
  height: 75px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 140px;
}