/* Practice Layout */

.page-content {
  color: #787878;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}


h1 {
  font-size: 2.5em;
  line-height: 60px;
}

p {
  line-height: 25px;
}

a {
  text-decoration: none;
}

section, header, nav {
  background-color: #E8E8E8;
  padding: 15px;
  display: block;
}

nav {
  background-color: #DCDCDC;
}

nav ul {
  color: #FF4081;
}

nav ul li {
  margin-right: 10px;
  display: inline-block;
}

.section1 {
  padding: 0;
}

.section1 > div {
  display: table-cell;
  padding: 15px;
  vertical-align: middle;
  width: 50%;
}

.section2 {
  background-color: #C8C8C8;
  border-collapse: collapse;
  display: table;
  width: 100%;
}

.section2 .row {
  border: #f0f0f0 1px solid;
  display: table-row;
  text-align: center;
}

.section2 .row.head {
  font-weight: bold;
}

.section2 .cell {
  border: #f0f0f0 1px solid;
  display: table-cell;
  padding: 18px;
}

.section3 div {
  border: 3px solid #73AD21;
  box-sizing: border-box;
  display: inline-block;
  height: 75px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 140px;
}