/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'raleway-bold';
  src: url('fonts/raleway/raleway-bold-webfont.eot');
  src: url('fonts/raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
  url('fonts/raleway/raleway-bold-webfont.woff') format('woff'),
  url('fonts/raleway/raleway-bold-webfont.ttf') format('truetype'),
  url('fonts/raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-normal';
  src: url('fonts/raleway/raleway-regular-webfont.eot');
  src: url('fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
  url('fonts/raleway/raleway-regular-webfont.woff') format('woff'),
  url('fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
  url('fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-light';
  src: url('fonts/raleway/raleway-thin-webfont.eot');
  src: url('fonts/raleway/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/raleway/raleway-thin-webfont.woff2') format('woff2'),
  url('fonts/raleway/raleway-thin-webfont.woff') format('woff'),
  url('fonts/raleway/raleway-thin-webfont.ttf') format('truetype'),
  url('fonts/raleway/raleway-thin-webfont.svg#ralewaythin') format('svg');
  font-weight: 100;
  font-style: normal;
}

/*  GENERAL STYLES
   ============================= */

html, body {
  background-color: #D5EADE;
  color: #FFFFFF;
  font-family: "raleway-light", verdana, arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  position: relative;
}

p {
  padding: 2% 0; 
}

p::first-letter {
  font-family: 'raleway-bold';
}

.title {
  font-size: 2em;
  line-height: 2.5;
}

.trash{
  color: black;
}

.container{
  position: relative;
}


/*  DESKTOP STYLES 
   ============================= */

.blue-wrapper {
  background-color: #76C4D1;
  box-sizing: border-box;
  margin: 5%;
  padding: 5% 0;
  min-height: 100%;
  overflow: auto;
}

.gray-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  min-height: 100%;
}

.yellow-wrapper {
  background-color: #DFE180;
  box-sizing: border-box;
  color: #8C8D57;
  line-height: 1;
  padding: 5%;
  position: absolute;
  margin-top: 5%;
  right: 5%;
  top: 0;
  width: 30%;
}

.yellow-wrapper .title-list {
  font-size: 25px;
  padding-bottom: 5%;
}

.yellow-wrapper ul {
  counter-reset: section;
}

.yellow-wrapper li {
  padding: 2% 0;
}

.yellow-wrapper li::before {
  content: "\2713 ";
  padding-right: 5px; 
}

.yellow-wrapper li::after {
  counter-increment: section;
  content: " " counters(section,".");
}

.yellow-wrapper li:nth-child(2n+2)::after {
  counter-increment: section;
  content: "- using 'pt' ";
  font-family: 'raleway-bold';
}

.yellow-wrapper li:nth-child(2n+3)::after {
  counter-increment: section;
  content: "- using 'em' ";
}

.yellow-wrapper li:nth-child(2n+2){
  font-size: 12pt;
}

.yellow-wrapper li:nth-child(2n+3){
  font-family: 'raleway-normal';
  font-size: 1em;
}

.first-content {
  box-sizing: border-box;
  padding-left: 5%;
  width: 60%;
}

.first-content .box-title {
  background-color: #E72840;
  box-sizing: border-box;
  line-height: 2.5;
  padding: 0 10px;
  width: 30%;
  text-transform: uppercase;
}

.first-content .content-title {
  font-size: 3em;
  font-family: 'raleway-bold';
}

.first-content .content-one p {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5% 0;
}

.first-content .content-one p:not(:last-child){
  border-bottom: 1px solid #E72840;
} 

.first-content .content-one .input-search{
  width: 200px;
  height: 30px;
  position: relative;
  padding: 0;
  margin: 15px 0;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.first-content .content-one .input-search input{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 40px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

.first-content .content-one .input-search i{
  position: absolute;
  top: 3px;
  left: 10px;
  width: 10px;
  height: 10px;
}


.first-content .content-two {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  padding: 5% 5% 5% 20%;
  margin-left: -20%;
}

.first-content .content-two p {
  font-size: 0.9em;
  font-family: 'raleway-normal';
  padding: 2% 0;
}

.first-content .text-icons{
  text-align: right;
  width: 100%;
}